In [1]:
from pprint import pprint
import pandas as pd
import numpy as np
import itertools
from math import dist, sqrt

# Setup the data as a NumPy array/matrix
data = np.array([5,2,5,5,3,4,5,5,4,5,3,4,4,3,4,1,3,1,1,2]).reshape(4,5)
data

array([[5, 2, 5, 5, 3],
       [4, 5, 5, 4, 5],
       [3, 4, 4, 3, 4],
       [1, 3, 1, 1, 2]])

In [2]:
# Create a dataframe to make manipulation easier
school_ratings = pd.DataFrame(data, columns=['Teaching', 'Fees', 'Placements', 'Internship', 'Infrastructure'])
school_ratings.index = pd.Series(['A', 'B', 'C', 'D'], name="Engg_College")
school_ratings

              Teaching  Fees  Placements  Internship  Infrastructure
Engg_College
A                    5     2           5           5               3
B                    4     5           5           4               5
C                    3     4           4           3               4
D                    1     3           1           1               2

In [3]:
# Double check my code!
school_ratings.loc['A'].values

array([5, 2, 5, 5, 3])

In [4]:
# Test I'm using the Euclidean distance function correctly
print(f"Distance A -> A : {dist(school_ratings.loc['A'], school_ratings.loc['A']):.3}")
print(f"Distance A -> B : {dist(school_ratings.loc['A'], school_ratings.loc['B']):.3}")

Distance A -> A : 0.0
Distance A -> B : 3.87

In [16]:
distances = pd.Series(name="EC Distance", dtype=np.float64)
for combo in itertools.combinations(school_ratings.index, 2):
    distances.loc[str(combo)] = dist(school_ratings.loc[combo[0]], school_ratings.loc[combo[1]])

pd.options.display.float_format = '{:.3f}'.format 
distances.sort_values(ascending=False).to_frame()

            EC Distance
('A', 'D')        7.071
('B', 'D')        6.856
('C', 'D')        4.690
('A', 'B')        3.873
('A', 'C')        3.742
('B', 'C')        2.236

In [6]:
f"The largest distance is {distances.max():.4} between engineering colleges {distances.index[distances.argmax()]}"

"The largest distance is 7.071 between engineering colleges ('A', 'D')"